body {
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 65px;
    background-color: rgb(7, 96, 179);
    position: relative;
}

.contenido {
    margin: 2%;
}

.iCabecera {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

footer {
    width: 100%;
    bottom: 0;
    height: 65px;
    background-color: lightgreen;
    margin-top: 20px;
}

footer p {
    line-height: 65px;
    margin: 0% 2%;
    padding: 0%;
    font-size: 15px;
}

header nav {
    height: 65px;
    margin: 0%;
    padding: 0%;
}

nav a {
    line-height: 65px;
    margin: 0% 2%;
    padding: 0%;
    font-size: 20px;
    height: 100%;
}

ul {
    margin: 0 0 0 2%;
    padding: 0;
    list-style: none;
    height: 100%;
}

nav ul li {
    display: inline-flex;
    height: 100%;
    width: 150px;
}

th {
    text-align: left;
    vertical-align: text-top;
}

.block {
    display: block;
    margin-top: 10px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    margin-top: 0px;
}

h3 {
    margin-bottom: 5px;
}

.cincuentaLeft {
    width: 40%;
    border: 0;
    margin: 0 0 0 0%;
    padding: 0;
    float: left;
    height: 30%;
}

.cincuentaRight {
    width: 45%;
    border: 0;
    margin: 0 0 0 5%;
    padding: 0;
    float: right;
    height: 30%;
}

.masInfo {
    background-color: white;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.principal {
    display: inline-block;
    margin-left: 10%;
    width: 80%;
}

.secundario {
    display: inline-block;
    margin-left: 10%;
    width: 80%;
}

.terciario {
    display: inline-block;
    margin-left: 10%;
    width: 80%;
}

.clear {
    clear: both;
}

.secundario img {
    width: 100%;
    margin: 0 auto;
    border: 0;
    padding: 0;
}

.principal table,
img {
    width: 100%;
}

article {
    margin-top: 25px;
}

fieldset {
    margin: 10px;
    padding: 10px;
}

form {
    width: 300px;
}

textarea {
    width: 100%;
}

.inputText {
    width: 150px;
    float: right;
}

.labelText {
    width: 100px;
    float: left;
    line-height: 21px;
    vertical-align: -webkit-baseline-middle;
}

span {
    margin-left: 10px;
}

.boton {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: cornflowerblue;
    color: white;
}

.margen {
    margin-left: 10px;
}

.mapa {
    width: 400px;
    padding: 0;
    float: right;
}

.direcciones {
    width: 300px;
    float: left;
    margin-right: 50px;
    height: 300px;
}

.mapa iframe {
    width: 95%;
}

.ubicacion {
    display: flex;
    margin-top: 20px;
}

.ubicacion section {
    width: 100%;
}

.masInfo:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}

.boton:hover {
    background-color: white;
    color: cornflowerblue;
    cursor: pointer;
}

.cincuentaRight img {
    border: solid 2px black;
}

nav li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
    margin: 0%;
    padding: 0;
}

a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: rgb(7, 96, 179);
}

a:active {
    background-color: antiquewhite;
    color: rgb(7, 96, 179);
}

.active {
    background-color: white;
    color: rgb(7, 96, 179);
}